{% extends 'bases/base.html' %}
{% load static %}

{% block content %}

       <div class="card-page__header">
        <div class="card-page-img-container">
            <img src="/static/images/prettyphoto/fr1.jpg">
        </div>
    </div>
    <div class="cards-container">
    {% for pole in object_list %}
        <div class="card">
            <a class="card-link" href="{% url 'pole_detail' pk=pole.pk%}">
                <div class="card-img-container">
                    <img src="/media/{{ pole.avatar }}">
                </div>
            </a>

            <div class="card-info">
                <p class="card-title">{{ pole.title }}</p>
                <p class="card-desc">{{ pole.body }}</p>
                <div class="card-footer">
                    <p class="card-avtor">
                        <span>{{ pole.author }}</span>
                        <span>|</span>
                        <span>{{ pole.date }}</span>
                    </p>
                    <div class="card-btns">
                        <a href="{% url 'pole_edit' pole.pk %}">Edit</a>
                        <a href="{% url 'pole_delete' pole.pk %}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock content %}